/* File chooser hack to make the location bar 
   widget to match the window bg color */

filechooser stack box {
   background-color: transparent; }

filechooser stack button box {
   background-color: transparent; }


/* Nemo colors must be specified or drag and drop items 
   have black text on a black background */

.nemo-window .nemo-window-pane widget.entry:selected, .nemo-window .nemo-window-pane widget.entry:selected:focus {
   color: @theme_selected_fg_color;
   background-color: @theme_selected_bg_color; 
}

/* caja and thunar various ui hacks */
.caja-navigation-window scrolledwindow {
   border: 1px solid @dark_shadow; }

.caja-navigation-window > grid > paned > * {
   padding: 0px;
   background-color: shade(@bg_color, 1.07);
   border-top: 1px solid transparent; }

.caja-side-pane > box > button.flat {
   padding-left: 6px;
   padding-right: 6px;
   padding: 1px; }

.caja-navigation-window entry {
   margin: 4px;}
   
.caja-navigation-window combobox box {
   margin: -3px; }

.caja-navigation-window paned > box > paned > box > .horizontal {
   padding: 4px;
   padding-top: 3px;
   padding-bottom: 2px;
   padding-bottom: 3px;
   margin-left: -3px;
   margin-right: -3px;
   margin-top: -6px;
   margin-bottom: -4px;
   border: none;
   box-shadow: none;
   color: @toolbar_fg_color;
   -GtkWidget-window-dragging: true;
   background-color: transparent;
   background-image: url("assets/toolbar.png");
   background-size: 100% 100%; }


