/* remove default tab colors */
:root {
 --tab-min-height: 28px !important; }

.tab-line {                             /* = light top line in selected tab in Quantum default */
    display: none !important;
}

.tab-background {
   border: transparent !important;
   background: transparent;
   color: transparent;
   opacity: 0.0;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"],
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab, .tab-content {
   border: unset !important;
}

#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab, .tabbrowser-tab,
#TabsToolbar:not(:-moz-lwtheme) .tabbrowser-tab[visuallyselected="true"] {
   border: 1px solid var(--shadow_bg) !important;
   border-top-left-radius: 4px !important;
   border-top-right-radius: 4px !important;
   padding: 0 !important;
   min-width: 175px !important;
   border: 1 1 0 1 !important;
   border-bottom: none !important;
   margin-left: 1px !important;
   margin-right: 1px !important;
}

.tab-content {
   border-top-left-radius: 4px !important;
   border-top-right-radius: 4px !important;
   min-height: unset !important;
   max-height: calc(var(--tab-min-height) - 0px )!important;
   padding-left: 5px !important;
   padding-right: 5px !important;
   border: unset !important;
   background-image: linear-gradient(rgba(255,255,255,0.7), transparent),linear-gradient(transparent,var(--shadow_bg)) !important;
   background-position: 0 0, 0 calc(100%);
   background-size: 100% 100%, 100% 3px;
   background-repeat: no-repeat;
   box-shadow: unset !important;}

/*
.tab-content:hover {
   background-image: linear-gradient(#fac67e, #d4d0c8) !important;
}*/

.tab-content[selected="true"] {

   border-top-left-radius: 2px !important;
   border-top-right-radius: 2px !important;
   box-shadow: unset !important;
   box-shadow: 0 2px #ffc248 inset !important;
   min-height: unset !important;
   max-height: calc(var(--tab-min-height) - 0px)!important;
   border: none !important;
   background: unset !important;
   background-image: linear-gradient(rgba(255,255,255, 0.8), rgba(255,255,255,0.8)) !important;
}

/*
.tab-content[selected="true"]:hover {
   background-image: linear-gradient(#9fccdf, #d4d0c8) !important;
}*/

#tabs-newtab-button,
#tabs-newtab-button:hover {
   border: unset !important;
}

spacer[part=overflow-start-indicator], 
spacer[part=overflow-end-indicator] {
  visibility: collapse !important;
  display: none !important; }

.tab-icon-image {
   margin-top: -1px !important;
   margin-right: 3px !important;
}

/* Disable secondary tab label due to reduced tab hiight */
.tab-secondary-label {
   visibility: collapse !important;
}
